LogicAppUnit.Samples.LogicApps/managed-api-connector-test-workflow/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Parse_JSON": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@triggerBody()",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "integer"
                            },
                            "title": {
                                "type": "string"
                            },
                            "firstName": {
                                "type": "string"
                            },
                            "lastName": {
                                "type": "string"
                            },
                            "dateOfBirth": {
                                "type": [
                                    "string",
                                    "null"
                                ]
                            },
                            "languageCode": {
                                "type": [
                                    "string",
                                    "null"
                                ]
                            },
                            "address": {
                                "type": "object",
                                "properties": {
                                    "line1": {
                                        "type": "string"
                                    },
                                    "line2": {
                                        "type": [
                                            "string",
                                            "null"
                                        ]
                                    },
                                    "line3": {
                                        "type": [
                                            "string",
                                            "null"
                                        ]
                                    },
                                    "town": {
                                        "type": "string"
                                    },
                                    "county": {
                                        "type": "string"
                                    },
                                    "postcode": {
                                        "type": "string"
                                    },
                                    "countryCode": {
                                        "type": "string"
                                    },
                                    "countryName": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "runAfter": {}
            },
            "Scope": {
                "type": "Scope",
                "actions": {
                    "Upsert_Customer": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "referenceName": "salesforce"
                                }
                            },
                            "method": "patch",
                            "body": {
                                "Title__c": "@body('Parse_JSON')?['title']",
                                "FirstName__c": "@body('Parse_JSON')?['firstName']",
                                "LastName__c": "@body('Parse_JSON')?['lastName']",
                                "Address_Line_1__c": "@body('Parse_JSON')?['address']?['addressLine1']",
                                "Address_Line_2__c": "@{concat(body('Parse_JSON')?['address']?['addressLine2'], ', ', body('Parse_JSON')?['address']?['addressLine3'])}",
                                "Town__c": "@body('Parse_JSON')?['address']?['town']",
                                "County__c": "@body('Parse_JSON')?['address']?['county']",
                                "Country__c": "@body('Parse_JSON')?['address']?['countryName']",
                                "Post_Code__c": "@body('Parse_JSON')?['address']?['postcode']",
                                "Status__c": "Active"
                            },
                            "path": "/v2/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('Account_Staging__c'))}/externalIdFields/@{encodeURIComponent(encodeURIComponent('External_Id__c'))}/@{encodeURIComponent(encodeURIComponent(body('Parse_JSON')?['id']))}"
                        },
                        "operationOptions": "DisableAsyncPattern",
                        "runAfter": {}
                    },
                    "Send_a_confirmation_email": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "referenceName": "outlook"
                                }
                            },
                            "method": "post",
                            "body": {
                                "To": "update-notification@test-example.net",
                                "Subject": "@{appsetting('Outlook-SubjectPrefix')}: Customer @{body('Parse_JSON')?['id']} (@{body('Parse_JSON')?['firstName']} @{body('Parse_JSON')?['lastName']}) has been updated",
                                "Body": "<p><u><strong>Notification</strong></u><br>\n<br>\nCustomer @{body('Parse_JSON')?['id']} has been updated.</p>",
                                "From": "integration@test-example.net",
                                "Importance": "Normal"
                            },
                            "path": "/v2/Mail"
                        },
                        "runAfter": {
                            "Upsert_Customer": [
                                "Succeeded"
                            ]
                        }
                    }
                        },
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                }
            },
            "Success_Response": {
                "type": "Response",
                "kind": "http",
                "inputs": {
                    "statusCode": 200,
                    "body": "Upsert is successful"
                },
                "runAfter": {
                    "Scope": [
                        "Succeeded"
                    ]
                }
            },
            "Failure_Response": {
                "type": "Response",
                "kind": "http",
                "inputs": {
                    "statusCode": 500,
                    "body": "Upsert failed"
                },
                "runAfter": {
                    "Scope": [
                        "TIMEDOUT",
                        "FAILED"
                    ]
                }
            }
        },
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {}
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateful"
}