LogicAppUnit.Samples.LogicApps/invoke-test-workflow/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Delete_blob": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "containerName": "customers",
                        "blobName": "@triggerOutputs()?['body']?['name']"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "azureBlob",
                        "operationId": "deleteBlob",
                        "serviceProviderId": "/serviceProviders/AzureBlob"
                    }
                },
                "runAfter": {
                    "Is_this_a_Priority_blob": [
                        "FAILED"
                    ]
                }
            },
            "Add_blob_to_failed_queue": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "queueName": "failed-customers-queue",
                        "message": "{\n  \"blobName\": \"@{triggerOutputs()?['body']?['name']}\",\n  \"blobContent\":  @{triggerOutputs()?['body']?['content']}\n}"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "azureQueue",
                        "operationId": "putMessage",
                        "serviceProviderId": "/serviceProviders/azurequeues"
                    }
                },
                "runAfter": {
                    "Is_this_a_Priority_blob": [
                        "TIMEDOUT",
                        "FAILED"
                    ]
                }
            },
            "Is_this_a_Priority_blob": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "contains": [
                                "@triggerOutputs()?['body']?['name']",
                                "Priority"
                            ]
                        }
                    ]
                },
                "actions": {
                    "Invoke_a_workflow_(JSON)": {
                        "type": "Workflow",
                        "inputs": {
                            "host": {
                                "workflow": {
                                    "id": "managed-api-connector-test-workflow"
                                }
                            },
                            "headers": {
                                "Content-Type": "@triggerBody()?['body']?['properties']?['contentType']",
                                "DataSource": "@triggerBody()?['body']?['containerInfo']?['name']"
                            },
                            "body": "@triggerOutputs()?['body']?['content']"
                        },
                        "runAfter": {}
                    }
                },
                "runAfter": {},
                "else": {
                    "actions": {
                        "Invoke_a_workflow_(not_JSON)": {
                            "type": "Workflow",
                            "inputs": {
                                "host": {
                                    "workflow": {
                                        "id": "managed-api-connector-test-workflow"
                                    }
                                },
                                "headers": {
                                    "Content-Type": "@triggerBody()?['body']?['properties']?['contentType']",
                                    "DataSource": "@triggerBody()?['body']?['containerInfo']?['name']"
                                },
                                "body": "@triggerOutputs()?['body']?['content']"
                            },
                            "runAfter": {}
                        }
                    }
                },
                "description": "This Decision is a bit pointless, just trying to demonstrate a workflow that includes two \"Invoke Workflow\" actions. "
            }
        },
        "triggers": {
            "When_a_blob_is_added_or_updated": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "path": "customers"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "azureBlob",
                        "operationId": "whenABlobIsAddedOrModified",
                        "serviceProviderId": "/serviceProviders/AzureBlob"
                    }
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateful"
}