LogicAppUnit.Samples.LogicApps/invoke-test-workflow/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Invoke_workflow": {
                "type": "Workflow",
                "inputs": {
                    "host": {
                        "workflow": {
                            "id": "child-test-workflow"
                        }
                    },
                    "headers": {
                        "content-type": "application/json"
                    },
                    "body": "@outputs('Compose_workflow_request')"
                },
                "runAfter": {
                    "Compose_workflow_request": [
                        "Succeeded"
                    ]
                }
            },
            "Success_Response": {
                "type": "Response",
                "kind": "http",
                "inputs": {
                    "statusCode": 200,
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "body": "@body('Invoke_workflow')?['body']"
                },
                "runAfter": {
                    "Invoke_workflow": [
                        "Succeeded"
                    ]
                }
            },
            "Parse_JSON": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@triggerBody()",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "integer"
                            },
                            "title": {
                                "type": "string"
                            },
                            "firstName": {
                                "type": "string"
                            },
                            "lastName": {
                                "type": "string"
                            },
                            "dateOfBirth": {
                                "type": [
                                    "string",
                                    "null"
                                ]
                            },
                            "languageCode": {
                                "type": [
                                    "string",
                                    "null"
                                ]
                            },
                            "address": {
                                "type": "object",
                                "properties": {
                                    "line1": {
                                        "type": "string"
                                    },
                                    "line2": {
                                        "type": [
                                            "string",
                                            "null"
                                        ]
                                    },
                                    "line3": {
                                        "type": [
                                            "string",
                                            "null"
                                        ]
                                    },
                                    "town": {
                                        "type": "string"
                                    },
                                    "county": {
                                        "type": "string"
                                    },
                                    "postcode": {
                                        "type": "string"
                                    },
                                    "countryCode": {
                                        "type": "string"
                                    },
                                    "countryName": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "runAfter": {}
            },
            "Compose_workflow_request": {
                "type": "Compose",
                "inputs": {
                    "customerId": "@body('Parse_JSON')?['id']",
                    "firstName": "@body('Parse_JSON')?['firstName']",
                    "lastName": "@body('Parse_JSON')?['lastName']"
                },
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                }
            },
            "Failed_Response": {
                "type": "Response",
                "kind": "http",
                "inputs": {
                    "statusCode": 500,
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "body": {
                        "errorCode": 500,
                        "errorMessage": "Game Over, please play again."
                    }
                },
                "runAfter": {
                    "Invoke_workflow": [
                        "TIMEDOUT",
                        "FAILED"
                    ]
                }
            }
        },
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "properties": {
                            "correlationId": {
                                "type": "string"
                            },
                            "customerId": {
                                "type": "integer"
                            },
                            "expiryTime": {
                                "type": "string"
                            },
                            "id": {
                                "type": "string"
                            },
                            "resourceId": {
                                "type": "string"
                            },
                            "resourceURI": {
                                "type": "string"
                            },
                            "sourceSystem": {
                                "type": "string"
                            },
                            "timestamp": {
                                "type": "string"
                            },
                            "type": {
                                "type": "string"
                            },
                            "webhookId": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "method": "POST"
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateful"
}